NEXT_PUBLIC_ROUNDS_ADDRESS=0xb6d1224Ed5CbaD3da9E81c8F1282870d9acD3b01
NEXT_PUBLIC_POOL_ADDRESS=0x2eBB4022C2aD57280bA8C0231D61448A3a77CdDa
NEXT_PUBLIC_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_EXPLORER_URL=https://explorer-studio.genlayer.com
NEXT_PUBLIC_CHAIN_ID=61999
