NEXT_PUBLIC_ROUNDS_ADDRESS=0x8b4b7Bf6247211b0a8A82f6cfBFb5552c5E98E2C
NEXT_PUBLIC_POOL_ADDRESS=0xd37396910d67CfD19e5aCBc1dA2D5a888fE404F3
NEXT_PUBLIC_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_EXPLORER_URL=https://explorer-studio.genlayer.com
NEXT_PUBLIC_CHAIN_ID=61999
