NEXT_PUBLIC_ROUNDS_ADDRESS=0xc3F379AE897a64685e6152C2a3447ca1E477B646
NEXT_PUBLIC_POOL_ADDRESS=0x8Aff07B4c5757117F502576C1c835CBE8A4647B1
NEXT_PUBLIC_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_EXPLORER_URL=https://explorer-studio.genlayer.com
NEXT_PUBLIC_CHAIN_ID=61999
